        .button1 { font-family: Roboto; color: white; background-color: transparent; border:none;
        position: absolute; top: 9%; left:8%; text-align: center; text-decoration: none; display: inline-block; font-size: 15px;
        }
        .button1:hover {
        color:orange;
        }


        .button2 { font-family: Roboto; color: white; background-color: transparent; border:none;
        position: absolute; top: 9%; left:21%; text-align: center; text-decoration: none; font-size: 15px;
        }
        .button2:hover {
        color:orange;
        }

        .navbar {
        overflow: hidden;
        background-color: black;
        }

        .navbar a, .button1, .button2, .button3, .button4, .button5, .button6{
        font-size: 15px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        }

        .dropdown {
        float: left;
        overflow: hidden;
        }

        .navbar a:hover, .dropdown:hover .button1, .button2, .button3, .button4, .button5, .button6 {
        background-color: transparent;
        }

        .dropdown-content {
        display: none;
        position: absolute;
        left: 0;
        background-color: pink;
        width: 100%;
        z-index: 1;
        }

        .dropdown-content a{
        float: left;
        color: black;
        text-decoration: none;
        }

        .dropdown-content:hover a { background-color: lightgrey; color: black;}

        .dropdown-content:hover .dropdown:hover  {
        display: block;
        }

        .button3 { font-family: Roboto; color: white; background-color: transparent; border:none;
        position: absolute; top: 9%; left:36%; text-align: center; text-decoration: none; display: inline-block; font-size: 15px;
        }

        .button3:hover {
        color:orange;
        }

        .button4 { font-family: Roboto; color: white; background-color: transparent; border:none;
        position: absolute; top: 9%; left:60%; text-align: center; text-decoration: none; display: inline-block; font-size: 15px;
        }

        .button4:hover {
        color:orange;
        }

        .button5 { font-family: Roboto; color: white; background-color: transparent; border:none;
        position: absolute; top: 9%; left:75%; text-align: center; text-decoration: none; display: inline-block; font-size: 15px;
        }

        .button5:hover {
        color:orange;
        }

        .button6 { font-family: Roboto; color: white; background-color: transparent; border:none;
        position: absolute; top: 9%; left:88%; text-align: center; text-decoration: none; display: inline-block; font-size: 15px;
        }

        .button6:hover {
        color:orange;
        }