body { background: linear-gradient(
    to top,
    darkgrey 0%, grey 15%,
    white 15% 30%,
    lightgrey 30% 80%,
    darkgrey 80% 90%,
    black 90% 100%
 );
 width: device-width;
 padding: 50%;
 max-height: 100% !important;
 initial-scale=1.0;
 maximum-scale=1.0;
 user-scalable=0;
 font-family: Oswald;
}

img{
margin: 15px;
top: 35px;
left: 30px;
width: 128px;
max-height: 100% !important; position: absolute;
}


h1{
font-family: Roboto;
font-size: 22px;
position: absolute;
top: 27%;
left: 5%


}
p{font-family: Roboto;
font-size: 18px;
}

h2,h3,h4{
font-size: 20px;
font-family: Roboto;
}

div{
column-gap: 150px;
}

h5{ border: solid #282b29 45px; background-color: #282b29;
color: white;
font-family: Roboto;
font-size: 16px;
position: absolute;
left: 8%;
top: 173%;
}

