body { background: linear-gradient(
   -45deg,  #ee7752,  #23a6d5, #23d5ab, white
 );

 width: 1900px;
 height: 1250px;
animation: gradient 10s ease infinite;
 overflow-x: hidden;
 overflow-y: scroll;

 initial-scale=1.0;
 maximum-scale=1.0;
 user-scalable=0;
 font-family: Roboto;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


h1 {
font-family: Roboto;
font-size: 46px;
position: absolute;
top: 20%;
margin: 15px;
text-align: center;








