body { background: linear-gradient(
    to top,
    darkgrey 0%, grey 10%,
    lightgrey 10% 68%,
    darkgrey 68% 83%,
    black 83% 100%
 );



 padding: 30%;
 overflow-x: hidden;
 overflow-y: auto;

 initial-scale=1.0;
 maximum-scale=1.0;
 user-scalable=0;
 font-family: Roboto;
}
html, body {min-height: 1vh;}


h1{
font-family: Roboto;
font-size: 22px;
position: absolute;
top: 27%;
left: 5%


}
p {font-family: Roboto;
font-size: 25px;
margin: 15px;
text-align: left;
}

h2{
font-size: 40px;
font-family: Roboto;
text-align: center;
padding: 20px;
}


h6{
font-size: 20px;
font-family: Roboto;
color: black;
}

div{
column-gap: 150px;
}

h5{ border: solid #282b29 45px; background-color: #282b29;
color: white;
font-family: Roboto;
font-size: 16px;
position: absolute;
left: 8%;
top: 178%;
}


